<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farms.farmguru">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/krushi_logos"
        android:label="@string/app_name"
        android:roundIcon="@drawable/krushi_logos"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmGuru"
        android:usesCleartextTraffic="true">
        <!--<activity
            android:name=".ui.dealers.DealerSearchActivity"
            android:exported="true" />-->
        <activity
            android:name=".ui.questions.QuestionHomeActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.farms.farmguru.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ComplaintRegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".schedule.MyScheduleActivity"
            android:exported="true"
            android:label="@string/schedule" />
        <activity
            android:name=".utilities.AskQuestionActivity"
            android:exported="true" />
        <activity
            android:name=".schedule.MyPlotScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".schedule.PlotListingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.questions.MyQuestionListingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.mydiary.DiaryNoteActivity"
            android:exported="true"
            android:theme="@style/Theme.FarmGuru.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.FarmGuru.NoActionBar" />
        <activity
            android:name=".ui.signup.SignupActivity"
            android:theme="@style/Theme.FarmGuru.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".ui.language.LanguageSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".plotregistration.CropPlotRegistrationActivity"
            android:exported="true"
            android:theme="@style/Theme.FarmGuru.NoActionBar" />
        <activity
            android:name=".ui.myplots.MyPlotActivity"
            android:exported="true" />
        <activity
            android:name=".ui.myplots.MyPlotListingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.weather.WeatherActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.weather.WeatherForecastActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.splash.TestActivity"
            android:exported="true"
            android:theme="@style/Theme.FarmGuru.NoActionBar" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.razorpay.Apikey"
            android:value="rzp_test_cPeCKKKGVVndiE"/>
        <meta-data
            android:name="com.google.gms.wallet.api.enabled"
            android:value="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FarmGuru.NoActionBar" />
    </application>

</manifest>